<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wr.tianji.mapper.NotificationMapper">

    <update id="update">
        update tianji.notification
        <set>
            <if test="notificationName!=null and notificationName!=''">
                notification_name=#{notificationName},
            </if>
            <if test="notificationContent!=null and notificationContent!=''">
                notification_content=#{notificationContent}
            </if>
        </set>
        where notification_id=#{notificationId}
    </update>
</mapper>
