<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wr.tianji.mapper.RiskMapper">
    <select id="pageQuery" resultType="org.wr.tianji.pojo.entity.Risk">
        select * from tianji.risk
        <where>
            <if test="riskName != null and riskName!=''">
                 risk_name like concat('%',#{riskName},'%')
            </if>
        </where>
    </select>

    <update id="update">
        update tianji.risk
        <set>
            <if test="riskName!=null and riskName!='' ">
                risk_name = #{riskName},
            </if>
            <if test="repairPeriod!=null and repairPeriod!='' ">
                repair_period = #{repairPeriod},
            </if>
        </set>
        where risk_id = #{riskId}
    </update>
</mapper>
